extend layout

block content
  body()
    div(class="off-canvas-wrap" data-offcanvas)
      div(class="inner-wrap")
        div(class="fixed ")
          nav(class="top-bar" data-topbar role="navigation")
            ul(class="title-area")
              li(class="name")
                h1()
                  a(href="#") Merctron
              li(class="toggle-topbar menu-icon")
                a(href="#")
                  span() Menu

            section(class="top-bar-section" style="left: 0%;")
              ul(class="right show-for-large-up")
                li(class="cl-effect-4")
                  a(href="#landing" class="hov1") Home
                li(class="cl-effect-4")
                  a(href="#projects" class="hov2") Projects
                li(class="cl-effect-4")
                  a(href="#resume" class="hov3") Resume
                li(class="cl-effect-4")
                  a(href="#contact" class="hov1") Contact
              ul(class="right hide-for-large-up")
                li(class="")
                  a(href="#landing") Home
                li(class="")
                  a(href="#projects") Projects
                li(class="")
                  a(href="#resume") Resume
                li(class="")
                  a(href="#contact") Contact

        section(id="landing" class="hero")
          div(class="row display" style=" top:35%; position: relative;")
            div(class="large-12 columns" style="height:100vh")
              h2(style="color: #53EDB7") Hey there. Welcome to my corner of the internet. My name is Murtuza. I like writing code, kicking soccer balls, and building things that might entertain others.

        section(id="projects" class="hero")
          div(class="row display")
            br
            br
            br
            div(class="columns small-12 large-12")
              h1() My Projects
            br
            br
            br
            br
            div(class="columns small-12 large-4")
              div(class="project1 project")
                div(class="title title1") 
                  h3() StrapClick
                div(class="content")
                  p() A crowd polling service for mobile devices. Built in under 36 hours at HackIllinois. Winner of the Strap sponsor prize.
                  br
                  p(class="bt")
                    a(href="http://devpost.com/software/strap-click") StrapClick on Devpost

              div(class="project2 project")
                div(class="title title2") 
                  h3() The Falling
                div(class="content")
                  p() A space invaders style game for Android.
                  br
                  p(class="bt")
                    a(href="https://play.google.com/store/apps/details?id=com.thefalling") The Falling on the PlayStore

              div(class="project3 project")
                div(class="title title3") 
                  h3() Shark Buster
                div(class="content")
                  p() A shooting game written in java where the target can be substituted by friend's face.
                  br
                  p(class="bt")
                    a(href="https://github.com/Merctron/SharkBuster") Shark Buster on Github

              div(class="project1 project tohide")
                div(class="title title1") 
                  h3() BoilerTron - WindWard Code Wars
                div(class="content")
                  p() A bot created to compete in the 2016 WindWard Code Wars. Placed second at Purdue University.
                  br
                  p(class="bt")
                    a(href="https://github.com/Merctron/Windward-Code-Wars-2016") BoilerTron on Github

            div(class="columns small-12 large-4")
              div(class="project2 project")
                div(class="title title2") 
                  h3() Rovr
                div(class="content")
                  p() A lego mindstorms robot hacked to be controlled using text-messaging, hand gestures (Myo armband), and Android apps. An API was written to allow anyone to build a service to assume control of the robot.
                  br
                  p(class="bt")
                    a(href="https://github.com/Merctron/myo-nxt") Rovr on Github
              div(class="project3 project")
                div(class="title title3")  
                  h3() How Does The RSA encryption Algorithm work?
                div(class="content")
                  p() An extended essay written to investigate the RSA encryption algorithm for IB Diploma program.
                  br
                  p(class="bt")
                    a(href="/documents/Mathematics extended essay - RSA cryptography.pdf") View PDF File
              div(class="project1 project")
                div(class="title title1")  
                  h3() Plot Master
                div(class="content")
                  p() A simple graphing application written in Python.
                  br
                  p(class="bt")
                    a(href="https://github.com/Merctron/Plot-Master-python") Plot Master on Github
              div(class="project2 project tohide")
                div(class="title title2")  
                  h3() Gambit
                div(class="content")
                  p() Strategy game built with HTML5 canvas and JavaScript.
                  br
                  p(class="bt")
                    a(href="https://github.com/Merctron/Gambit") Gambit on Github

            div(class="columns small-12 large-4")
              div(class="project3 project")
                div(class="title title3") 
                  h3() GetGuru
                div(class="content")
                  p() A location based tutor matching application.
                  br
                  p(class="bt")
                    a(href="https://github.com/Merctron/CS-307-Project") GetGuru on Github
              div(class="project1 project")
                div(class="title title1")  
                  h3() On The Nature Of Evidence
                div(class="content")
                  p() An essay wriiten for the epistomology course, Theory of Knowledge, to investigate the properties of evidence 
                  br
                  p(class="bt")
                    a(href="/documents/On The Nature Of Evidence - TOK Essay.pdf") View PDF File
              div(class="project2 project")
                div(class="title title2")  
                  h3() Saedi
                div(class="content")
                  p() An Android app that includes graphing and paint tools.
                  br
                  p(class="bt")
                    a(href="https://github.com/Merctron/Saedi") Saedi on Github
              div(class="project3 project tohide")
                div(class="title title3")  
                  h3() Wonder Tank
                div(class="content")
                  p() An iOS app that uses GameKit and SceneKit APIs to display educational models.
                  br
                  p(class="bt")
                    a(href="https://github.com/Merctron/Wonder-Tank-iOS") Wonder Tank on Github


            br
            br
            div(class="columns small-12 large-12")
              br
              br
              h3(style="text-align:center;") 
                a(id="show_projects" class="bt") View More Projects




        section(id="resume" class="hero")
          div(class="row display")
            br
            br
            br
            div(class="columns small-12 large-12")
              h1() My Resume
              a(href="/documents/Resume 2.3.pdf") View PDF File
            br
            br
            div(class="columns small-12 large-12")

              h2(style="text-align:center;") Experience
              
              section.cd-horizontal-timeline
                .timeline
                  .events-wrapper
                    .events
                      ol
                        li
                          a(href='#0', data-date='15/03/2013') Purdue CS
                        li
                          a(href='#0', data-date='01/09/2013') Purdue CCO
                        li
                          a(href='#0', data-date='04/12/2015') Expimetrics
                        li
                          a.selected(href='#0', data-date='05/31/2016') Qualtrics
                      span.filling-line(aria-hidden='true')
                    // .events
                  // .events-wrapper
                  ul.cd-timeline-navigation
                    li()
                      a.prev.inactive(href='#0' style="color: #000021 !important; text-align:center; font-size: 18px;") 
                       p
                        div(class="fa fa-arrow-left")
                    li()
                      a.next(href='#0' style="color: #000021 !important; text-align:center; font-size: 18px;")
                        p
                          div(class="fa fa-arrow-right")
                  // .cd-timeline-navigation
                // .timeline
                .events-content
                  ol
                    li(data-date='15/03/2013')
                      h3 Teaching Assistant, Purdue University Department of Computer Science
                      em August 15th, 2014
                      p
                        | Taught and guided an introductory computer science course about bash scripting, version control, and introductory programming concepts.
                    li(data-date='01/09/2013')
                      h3 Web Analyst and Engineer, Purdue Center for Career Opportunities
                      em September 1st, 2014
                      p
                        | Maintained and developed features for the Purdue CCO website and internal tools using ASP.NET and C#.
                    li(data-date='04/12/2015')
                      h3 Software Developer, Expimetrics
                      em March 20th, 2015
                      p
                        | Worked on web and mobile application for social science research. Developed frontend analytics and a mobile application using a REST API to deliver content.
                    li.selected(data-date='05/31/2016')
                      h3 Software Engineer Intern, Qualtrics
                      em May 31st, 2016
                      p
                        | Worked on the mobile SDK for the Site Intercept product. Implemented performance improvement features and the management API prototype for the Site Intercept rearchitecture effort.
             
          br       
          div(class="row")
            h2(style="text-align:center;") Education
            br
            div(class="columns small-12 large-4" style="text-align:center;")
                div(class="circle1")
                  br
                  br
                  br
                  br
                  h3(style="color: #0E0E28 !important; font-weight:bold;") Purdue University
                  br
                  p(style="color: #0E0E28 !important; padding: 10px; text-align:center;") Bachelor of Science in Computer Science with a minor in Physics.
                br
            div(class="columns small-12 large-4" style="text-align:center;")
                div(class="circle2")
                  br
                  br
                  br
                  br
                  h3(style="color: #0E0E28 !important; font-weight:bold;") Concentrations
                  br
                  p(style="color: #0E0E28 !important; padding: 10px; text-align:center;") Software Engineering, Machine Intelligence
                  p(style="color: #0E0E28 !important; padding: 10px; text-align:center;") Minor in Physics
                br
            div(class="columns small-12 large-4" style="text-align:center;")
                div(class="circle3")
                  br
                  br
                  br
                  br
                  h3(style="color: #0E0E28 !important; font-weight:bold;") Graduation
                  br
                  p(style="color: #0E0E28 !important; padding: 10px; text-align:center;") Graduating May, 2017
                br
           
          br 
          div(class="row")
            br
            br
            br
            h2(style="text-align:center;") Technical Skills
            br
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill1")
                h5() Java
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill1")
                h5() C
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill1")
                h5() HTML
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill1")
                h5() CSS
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill1")
                h5() JavaScript
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill1")
                h5() Android
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill2")
                h5() Git
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill2")
                h5() Bash
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill2")
                h5() Node.JS
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill2")
                h5() SQL
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill2")
                h5() Swift
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill2")
                h5() C#
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill3")
                h5() Python
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill3")
                h5() MySQL
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill3")
                h5() MS SQL Server
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill3")
                h5() ASP.Net
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill3")
                h5() iOS
            div(class="columns small-12 large-2" style="text-align:center;")
              div(class="skill3")
                h5() x86 Assembly

        br
        br

        section(id="contact" class="hero")
          div(class="row display" style="text-align: center; top: 35%; position: relative;")
            div(class="small-9 small-centered medium-centered large-centered columns")
              h1(style="text-align: center;") It's Good To Talk.
              br
              div(class="row display" style="text-align: center; position: relative;")
                div(class="small-12 large-6 columns")
                  h5
                    i(class="fa fa-envelope")  :
                      a(href="mailto:mk@purdue.edu")  mk@purdue.edu
                div(class="small-12 large-6 columns")
                  h5
                    i(class="fa fa-phone")  : +1 765-637-8478
              br
              div(class="row display" style="text-align: center; position: relative;")
                div(class="small-3 columns")
                  a(href="https://www.facebook.com/murtaza.k.ibrahim")
                    i(class="grow fa fa-3x fa-facebook-square")
                div(class="small-3 columns")
                  a(href="https://www.quora.com/Murtaza-Kainan-Ibrahim")
                    span(class="grow fa fa-3x fa-fw") Q
                div(class="small-3 columns")
                  a(href="https://www.linkedin.com/in/merctron")
                    i(class="grow fa fa-3x fa-linkedin")
                div(class="small-3 columns")
                  a(href="https://github.com/Merctron")
                    i(class="grow fa fa-3x fa-github")

        br
        br

        footer(class="footer")
          h5(style="text-align: center;") &copy; 2016 Merctron,
            a(href="indexdead.html")  Powered by the Batman
          br
          br

          


        script.
          $(document).foundation();
          $(document).ready(function(){
              $(document).foundation();
          });
          /*var waypoints = $('#about').waypoint(function(direction) {
            $('.fixed').fadeToggle();
            }, {
            offset: '25%'
          })*/
          $(document).ready(function(){
            $('a[href^="#"]').on('click',function (e) {
                e.preventDefault();
                console.log(e);
                var target = this.hash;
                var $target = $(target);
                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top
                }, 900, 'swing', function () {
                    window.location.hash = target;
                });
            });
          });

